
.background {
	width: 50px; height: 25%;
	position: absolute; left: 0px
}

.super {
	position: relative; top: -5px; font-size: 7pt
}

.sub {
	position: relative; top: 5px; font-size: 7pt
}

.read {
	position: absolute; right: 50%
}

.graphics {
	position: absolute;
}

.captionTitle {
	position: absolute; left: 50%; width: 70%;
	color: #000000; font-size: 13pt; font-weight: bolder;
	text-align: center; margin-left: -35%;
	font-family: Helvetica, Arial, sans-serif;
}

.captionTitle2 {
	position: absolute; right: 40px; width: 300px;
	color: #000000; font-size: 13pt; font-weight: bolder;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}

.caption2 {
	position: absolute; right: 40px; width: 300px;
	color: #000000; font-size: 11pt;
	font-family: Helvetica, Arial, sans-serif;
}

.monthlyDataTitle {
	position: absolute; left: 40px; width: 300px;
	color: #000000; font-size: 13pt; font-weight: bolder;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}

.monthlyData {
	position: absolute; left: 40px; width: 300px;
	color: #000000; font-size: 11pt;
	font-family: Helvetica, Arial, sans-serif;
}

.caption {
	position: absolute; left: 50%; width: 70%;
	margin-left: -35%; color: #000000; font-size: 11pt;
	font-family: Helvetica, Arial, sans-serif;
}

.intro {
	width: 90%; color: #000000; font-size: 11pt;
	font-family: Helvetica, Arial, sans-serif;
	position: absolute; left: 40px; top: 75px;
	line-height: 135%
}

.linksIntro {
	width: 90%; color: #000000; font-size: 11pt;
	font-family: Helvetica, Arial, sans-serif;
	position: absolute; left: 40px; top: 125px;
	line-height: 135%
}

.linksLeft {
	width: 35%; color: #000000; font-size: 11pt;
	font-family: Helvetica, Arial, sans-serif;
	position: absolute; left: 350px; top: 150px;
	line-height: 135%
}

.linksRight {
	width: 50%; color: #000000; font-size: 11pt;
	font-family: Helvetica, Arial, sans-serif;
	position: absolute; left: 450px; top: 150px;
	line-height: 135%; z-index: 3;
}

.why {
	width: 45%; color: #000000; font-size: 11pt;
	font-family: Helvetica, Arial, sans-serif;
	position: absolute; left: 50px; top: 75px;
	line-height: 135%
}

.how {
	width: 45%; color: #000000; font-size: 11pt;
	font-family: Helvetica, Arial, sans-serif;
	position: absolute; left: 50px; top: 400px;
	line-height: 135%
}

.title {
	font-size: 36pt; color: #000000;
	position: absolute; left: 35px
}